:root { 
--green_300:#76b296; 
--white_A700_7e:#ffffff7e; 
--light_green_A400:#7bf000; 
--light_blue_700:#0088cc; 
--green_900:#255a2f; 
--blue_gray_400_a4:#868686a4; 
--black_900_3f:#0000003f; 
--green_A200:#4ee19e; 
--teal_200:#84c8a9; 
--teal_800:#007559; 
--black_900:#000000; 
--teal_700_b2:#007576b2; 
--teal_800_a4:#007559a4; 
--teal_800_80:#00755980; 
--gray_600:#757575; 
--gray_600_01:#727272; 
--blue_gray_400:#868686; 
--blue_800:#2867b2; 
--gray_900:#121212; 
--gray_900_01:#002219; 
--blue_gray_500:#5c8b75; 
--teal_800_00:#00755900; 
--gray_200:#edeeef; 
--teal_800_bf:#007559bf; 
--teal_200_01:#86cbac; 
--gray_300_7a:#e3e5e47a; 
--teal_800_9c:#0075599c; 
--teal_200_03:#85c8aa; 
--green_300_00:#76b29600; 
--teal_200_02:#86cbab; 
--blue_gray_400_68:#86868668; 
--blue_gray_400_02:#8d8d8d; 
--blue_gray_400_01:#8a8a8a; 
--white_A700:#ffffff; 
--blue_gray_400_00:#86868600; 
--teal_800_3f:#0075593f; 
}